{% extends 'base.html' %}

{% block content %}

<div class="row mt-5">
    
    <div class="col-7"></div>
    
    <div class="col-3 text-center mt-5" >
        

        <h2>Login</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="email" class="form-control mt-2" name="email" placeholder="Enter Your Email">
            <input type="password" class="form-control mt-2" name="password" placeholder="Enter Your Password">
            <button class="btn btn-outline-success btn-light mt-3" type="submit" >Login</button>
        </form>


    </div>
    <div class="col-2"></div>
</div>


{% endblock content %}