{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Register Page</h2>
        <div class="container text-center">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" class="mt-2 form-control" name="first_name" placeholder="Enter Your Firstname">
                <input type="text" class="mt-2 form-control" name="last_name" placeholder="Enter Your Lastname">
                <input type="email" class="mt-2 form-control" name="email" placeholder="Enter Your Email">
                <input type="password" class="mt-2 form-control" name="password" placeholder="Enter Your Password">
                <input type="password" class="mt-2 form-control" name="confirm_password" placeholder="Confirm Your Password">
                <button class="btn btn-outline-dark mt-3" type="submit">Register</button>
            </form>
        </div>
        <a href="{% url 'login_page' %}">login</a>

    </div>
    <div class="col-4"></div>
</div>



{% endblock content %}